
@model IEnumerable<Views.Models.Producto>

@{

    ViewBag.Title = "AllProducts";

    #region CookiesConfiguration
    //Cookies Configuration 4.0
    Views.Models.UserCookie user = new Views.Models.UserCookie();
    CreateOrValidate();
    void CreateOrValidate()
    {
        HttpCookie comp = Request.Cookies["UserCookie"];
        if (comp == null)
        {
            //Crear cookies si no existen
            HttpCookie UserCookie = new HttpCookie("UserCookie");
            UserCookie["US_ID"] = "0";
            UserCookie["Username"] = "Invitado";
            UserCookie["JsonToken"] = "NotValid";
            UserCookie["ListProduct"] = "null";
            UserCookie.Expires.AddHours(5);
            Response.Cookies.Add(UserCookie);


            //cargar cookies existentes
            HttpCookie reqCookies = Request.Cookies["UserCookie"];
            user = new Views.Models.UserCookie();
            user.Username = reqCookies["Username"].ToString();
            user.US_ID = Int32.Parse(reqCookies["US_ID"].ToString());
            user.JsonToken = reqCookies["JsonToken"].ToString();
            if (!reqCookies["ListProduct"].ToString().Equals("null"))
            {
                List<Views.Models.Producto_Carrito> list = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Views.Models.Producto_Carrito>>(reqCookies["ListProduct"].ToString());
                user.Products = list;
            }
            else
            {
                user.Products = new List<Views.Models.Producto_Carrito>();
            }
        }
        else
        {
            //cargar cookies existentes
            HttpCookie reqCookies = Request.Cookies["UserCookie"];
            user = new Views.Models.UserCookie();
            user.Username = reqCookies["Username"].ToString();
            user.US_ID = Int32.Parse(reqCookies["US_ID"].ToString());
            user.JsonToken = reqCookies["JsonToken"].ToString();
            if (!reqCookies["ListProduct"].ToString().Equals("null"))
            {
                List<Views.Models.Producto_Carrito> list = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Views.Models.Producto_Carrito>>(reqCookies["ListProduct"].ToString());
                user.Products = list;
            }
            else
            {
                user.Products = new List<Views.Models.Producto_Carrito>();
            }
        }
    }
    #endregion

}
<head>
    <title>Tienda Virtual|Todos los productos</title>
</head>
<body>
    <div class="container">
        <h2 class="text-center col-lg-12 col-md-12 col-sm-12">
            Productos
        </h2>
        <div class="row">
            @foreach (var item in Model)
            {
                
                <div class="col-12">
                    <button class="btn-block btn btn-lg" style="width:100%" onclick="window.location.href='ShowProduct?id=@Html.DisplayFor(modelItem => item.PRO_ID)'">
                        <div class="container p-3 my-3 bg-dark text-white">
                            <table class="table">
                                <tr class="text-white text-center">
                                    <td class="col-4">
                                        @Html.DisplayFor(modelItem => item.PRO_NOMBRE)
                                    </td>
                                    <td class="col-4">
                                        @Html.DisplayFor(modelItem => item.PRO_MARCA)
                                    </td>
                                    <td class="col-4">
                                        ₡@Decimal.ToInt32(Convert.ToDecimal(Html.DisplayFor(modelItem => item.PRO_PRECIO).ToString()))
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </button>
                </div>
            }
        </div>
    </div>
</body>

