@model Views.UnifiedModels.CompraUnifiedModel
@{
    #region CookiesConfiguration_4.0
    //Cookies Configuration 4.0
    Views.Models.UserCookie user = new Views.Models.UserCookie();
    CreateOrValidate();
    void CreateOrValidate()
    {
        HttpCookie comp = Request.Cookies["UserCookie"];
        if (comp == null)
        {
            //Crear cookies si no existen
            HttpCookie UserCookie = new HttpCookie("UserCookie");
            UserCookie["US_ID"] = "0";
            UserCookie["Username"] = "Invitado";
            UserCookie["JsonToken"] = "NotValid";
            UserCookie["ListProduct"] = "null";
            UserCookie.Expires.AddHours(5);
            Response.Cookies.Add(UserCookie);


            //cargar cookies existentes
            HttpCookie reqCookies = Request.Cookies["UserCookie"];
            user = new Views.Models.UserCookie();
            user.Username = reqCookies["Username"].ToString();
            user.US_ID = Int32.Parse(reqCookies["US_ID"].ToString());
            user.JsonToken = reqCookies["JsonToken"].ToString();
            if (!reqCookies["ListProduct"].ToString().Equals("null"))
            {
                List<Views.Models.Producto_Carrito> list = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Views.Models.Producto_Carrito>>(reqCookies["ListProduct"].ToString());
                user.Products = list;
            }
            else
            {
                user.Products = new List<Views.Models.Producto_Carrito>();
            }
        }
        else
        {
            //cargar cookies existentes
            HttpCookie reqCookies = Request.Cookies["UserCookie"];
            user = new Views.Models.UserCookie();
            user.Username = reqCookies["Username"].ToString();
            user.US_ID = Int32.Parse(reqCookies["US_ID"].ToString());
            user.JsonToken = reqCookies["JsonToken"].ToString();
            if (!reqCookies["ListProduct"].ToString().Equals("null"))
            {
                List<Views.Models.Producto_Carrito> list = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Views.Models.Producto_Carrito>>(reqCookies["ListProduct"].ToString());
                user.Products = list;
            }
            else
            {
                user.Products = new List<Views.Models.Producto_Carrito>();
            }
        }
    }
    #endregion
    ViewBag.Title = "VerCompra";
    
}

<body style="background-color:#E8D0F9">
    @{
        

        int total = 0;
    }
<div>
    <h2 class="display-4 text-center">Compra</h2>
    <h2 class="display-4 text-center" style="font-size:30px">ID de Compra: @Model.COM_ID</h2>
</div>
<div class="container bg-dark  text-dark p-3">
    
    <table class="table bg-white rounded-3">
        <thead>
            <tr class="table text-center">
                <th>
                    <h4>Nombre</h4>
                </th>
                <th>
                    <h4>Cantidad</h4>
                </th>
                <th>
                    <h4>Precio por unidad</h4>
                </th>
                <th>
                    <h4>Total</h4>
                </th>
                <th>
                    <h4>Ver</h4>
                </th>
            </tr>
        </thead>
        <tbody class="text-center">

            @foreach (var product in Model.itemList)
            {
                <tr>
                    <td>
                        @product.PRO_NOMBRE
                    </td>

                    <td>
                        @product.PRO_CANTIDAD_UNIDADES
                    </td>
                    <td>
                        ₡@product.PRO_PRECIO
                    </td>
                    <td>
                        ₡@(product.PRO_PRECIO * product.PRO_CANTIDAD_UNIDADES)
                    </td>
                    <td>
                        <button class="btn btn-outline-primary" id="verProducto" onclick="window.location.href = '/Producto/ShowProduct?id=@product.PRO_ID'" style="width:100%">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                            </svg>
                        </button>
                    </td>
                    @{total += (int)product.PRO_PRECIO * product.PRO_CANTIDAD_UNIDADES;}
                </tr>

            }
            <tr>
                <td colspan="4">
                    <div class="row">
                        <div class="row">
                            <div class="col">
                                <h6 class="display-4" style="font-size:30px">Direccion de envio </h6>
                            </div>
                            <div class="col">@Model.COM_LUGAR_DE_ENVIO</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4 class="display-4">Total de la compra</h4>
                            </div>
                            <div class="col">
                                <h4 class="display-4">₡@total</h4>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
    
</div>
</body>

