<!DOCTYPE html>
<html>
<head>
    
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
</head>
<body>

    @{
        #region CookiesConfiguration
        //Cookies Configuration
        Views.Models.UserCookie user = new Views.Models.UserCookie();
        CreateOrValidate();
        void CreateOrValidate()
        {
            HttpCookie comp = Request.Cookies["UserCookie"];
            if (comp == null)
            {
                //Crear cookies si no existen
                HttpCookie UserCookie = new HttpCookie("UserCookie");
                UserCookie["US_ID"] = "0";
                UserCookie["Username"] = "Invitado";
                UserCookie["JsonToken"] = "NotValid";
                //Configurar lista de productos
                UserCookie["ListProduct"] = "null";
                UserCookie.Expires.AddHours(5);
                Response.Cookies.Add(UserCookie);
                HttpCookie reqCookies = Request.Cookies["UserCookie"];
                user = new Views.Models.UserCookie
                {
                    Username = reqCookies["Username"].ToString(),
                    US_ID = Int32.Parse(reqCookies["US_ID"].ToString()),
                    JsonToken = reqCookies["JsonToken"].ToString()
                };
                if (!reqCookies["ListProduct"].ToString().Equals("null"))
                {
                    user.Products = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Views.Models.Carrito>>(reqCookies["ListProduct"].ToString());
                }
                else
                {
                    user.Products = null;
                }
            }
            else
            {
                //cargar cookies existentes
                HttpCookie reqCookies = Request.Cookies["UserCookie"];
                user = new Views.Models.UserCookie();
                user.Username = reqCookies["Username"].ToString();
                user.US_ID = Int32.Parse(reqCookies["US_ID"].ToString());
                user.JsonToken = reqCookies["JsonToken"].ToString();
                if (!reqCookies["ListProduct"].ToString().Equals("null"))
                {
                    user.Products = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Views.Models.Carrito>>(reqCookies["ListProduct"].ToString());
                }
                else
                {
                    user.Products = null;
                }
            }
        }
        #endregion
    }


    @RenderBody()
    

</body>
</html>
