
@{


    ViewBag.Title = "Test";
    

    #region CookiesConfiguration
    //Cookies Configuration
    Views.Models.UserCookie user = new Views.Models.UserCookie();
    CreateOrValidate();
    void CreateOrValidate()
    {
        HttpCookie comp = Request.Cookies["UserCookie"];
        if (comp == null)
        {
            //Crear cookies si no existen
            HttpCookie UserCookie = new HttpCookie("UserCookie");
            UserCookie["US_ID"] = "0";
            UserCookie["Username"] = "Invitado";
            UserCookie["JsonToken"] = "NotValid";
            //Configurar lista de productos
            UserCookie["ListProduct"] = "null";
            UserCookie.Expires.AddHours(5);
            Response.Cookies.Add(UserCookie);
            HttpCookie reqCookies = Request.Cookies["UserCookie"];
            user = new Views.Models.UserCookie
            {
                Username = reqCookies["Username"].ToString(),
                US_ID = Int32.Parse(reqCookies["US_ID"].ToString()),
                JsonToken = reqCookies["JsonToken"].ToString()
            };
            if (!reqCookies["ListProduct"].ToString().Equals("null"))
            {
                user.Products = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Views.Models.Carrito>>(reqCookies["ListProduct"].ToString());
            }
            else
            {
                user.Products = null;
            }
        }
        else
        {
            //cargar cookies existentes
            HttpCookie reqCookies = Request.Cookies["UserCookie"];
            user = new Views.Models.UserCookie();
            user.Username = reqCookies["Username"].ToString();
            user.US_ID = Int32.Parse(reqCookies["US_ID"].ToString());
            user.JsonToken = reqCookies["JsonToken"].ToString();
            if (!reqCookies["ListProduct"].ToString().Equals("null"))
            {
                user.Products = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Views.Models.Carrito>>(reqCookies["ListProduct"].ToString());
            }
            else
            {
                user.Products = null;
            }
        }
    }
    #endregion

}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-dark">
                    <h5 class="modal-title" id="exampleModalLongTitle">Hola!</h5>
                </div>
                <div class="modal-body text-dark">
                    Este sitio utiliza cookies
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="change_text">
                        Entiendo!
                    </button>
                </div>
            </div>
        </div>

    </div>
    <h1 class="display-3">Show cookies</h1>
    @{
        HttpCookie read = Request.Cookies["UserCookie"];
        <h2>Product List</h2>
        <h4>@read["ListProduct"].ToString()</h4>
        <h2>Username</h2>
        if (read["Username"].ToString() == null)
        {
            <h4>null</h4>
        }
        else
        {
            <h4>@read["Username"].ToString()</h4>
        }
        <h2>JsonToken</h2>
        if (read["JsonToken"].ToString() == null)
        {
            <h4>null</h4>
        }
        else
        {
            <h4>@read["JsonToken"].ToString()</h4>
        }
        <h2>US_ID</h2>
        if (read["US_ID"].ToString().Equals("0"))
        {
            <h4>null</h4>

        }
        else { 
            <h4>@read["US_ID"].ToString()</h4>
        }



    }
</body>