@model Views.Models.PopUp
@{
    Views.Models.LoginRequest loginRequest = new Views.Models.LoginRequest();
    ViewBag.Title = "TV_Login";

    Layout = null;
    #region CookiesConfiguration
    //Cookies Configuration 4.0
    Views.Models.UserCookie user = new Views.Models.UserCookie();
    CreateOrValidate();
    void CreateOrValidate()
    {
        HttpCookie comp = Request.Cookies["UserCookie"];
        if (comp == null)
        {
            //Crear cookies si no existen
            HttpCookie UserCookie = new HttpCookie("UserCookie");
            UserCookie["US_ID"] = "0";
            UserCookie["Username"] = "Invitado";
            UserCookie["JsonToken"] = "NotValid";
            UserCookie["ListProduct"] = "null";
            UserCookie.Expires.AddHours(5);
            Response.Cookies.Add(UserCookie);


            //cargar cookies existentes
            HttpCookie reqCookies = Request.Cookies["UserCookie"];
            user = new Views.Models.UserCookie();
            user.Username = reqCookies["Username"].ToString();
            user.US_ID = Int32.Parse(reqCookies["US_ID"].ToString());
            user.JsonToken = reqCookies["JsonToken"].ToString();
            if (!reqCookies["ListProduct"].ToString().Equals("null"))
            {
                List<Views.Models.Producto_Carrito> list = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Views.Models.Producto_Carrito>>(reqCookies["ListProduct"].ToString());
                user.Products = list;
            }
            else
            {
                user.Products = new List<Views.Models.Producto_Carrito>();
            }
        }
        else
        {
            //cargar cookies existentes
            HttpCookie reqCookies = Request.Cookies["UserCookie"];
            user = new Views.Models.UserCookie();
            user.Username = reqCookies["Username"].ToString();
            user.US_ID = Int32.Parse(reqCookies["US_ID"].ToString());
            user.JsonToken = reqCookies["JsonToken"].ToString();
            if (!reqCookies["ListProduct"].ToString().Equals("null"))
            {
                List<Views.Models.Producto_Carrito> list = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Views.Models.Producto_Carrito>>(reqCookies["ListProduct"].ToString());
                user.Products = list;
            }
            else
            {
                user.Products = new List<Views.Models.Producto_Carrito>();
            }
        }
    }
    #endregion


}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>TV Login</title>
</head>
<body style="background-color:#E8D0F9">
    @{
        if (Html.DisplayFor(model => model.Estado).ToString() == "true")
        {

            <script type="text/javascript">
                $(document).ready(function () {
                    $("#exampleModalCenter").modal('show');
                });
            </script>
        }


    }
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-dark">
                    <h5 class="modal-title" id="exampleModalLongTitle">@Html.DisplayFor(model => model.Titulo)</h5>
                </div>
                <div class="modal-body text-dark">
                    @Html.DisplayFor(model => model.Body)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Entiendo!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <table class="table">
                <tr class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <td class="col-4 center-block text-center">
                        <button class="btn btn-light btn-large btn-block text-center btn-outline-secondary center-block" onclick="window.location.href = '/Producto/AllProducts'">
                            <div class="btn-outline-secondary">Home</div>
                        </button>
                    </td>
                    <td class="col-4">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </td>
                    <td class="col-4 center-block">
                        <button class="btn btn-outline-success glyphicon-align-center my-2 my-sm-0" type="submit">Search</button>
                    </td>
                </tr>
            </table>
        </nav>
    </div>
    <div class="container p-3 my-3 bg-dark text-white">
        <div class="col-12 text-white">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div>
                        <h5 class="display-4 text-white">Iniciar Sesion</h5>
                        <div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nombre de Usuario</label>
                                <input class="form-control" name="usernameTBLogin" id="usernameTBLogin" runat="server" placeholder="Nombre de Usuario">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Contraseña</label>
                                <input type="password" class="form-control" id="passwordTBLogin" name="passwordTBLogin" placeholder="Contraseña">
                            </div>
                            <div style="margin-top:5px">

                                <button style="width:100%" class="btn btn-primary" onclick="Login()">
                                    Iniciar Sesion
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <h5 class="display-4 text-white">Crear una cuenta</h5>
                    <form>
                        <div class="form-group">
                            <label>Nombre Completo</label>
                            <input class="form-control" id="NombreTB" placeholder="Nombre" />
                        </div>
                        <div class="form-group">
                            <label>Nombre de usuario</label>
                            <input class="form-control" id="UsernameTB" placeholder="Nombre de Usuario">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Correo Electronico</label>
                            <input type="email" class="form-control" id="EmailTB" aria-describedby="emailHelp" placeholder="Correo">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Contraseña</label>
                            <input type="password" class="form-control" id="passwordTB" placeholder="Contraseña">
                        </div>
                        <div style="margin-top:5px">
                            <button class="btn btn-primary" style="width:100%" onclick="Registrar()">Crear cuenta</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function Registrar() {
            var nombre = document.getElementById('NombreTB').value;
            var correo = document.getElementById('UsernameTB').value;
            var contrasena = document.getElementById('EmailTB').value;
            var usuario = document.getElementById('passwordTB').value;
            window.location.href = '/Login/Registrar?nombre=' + nombre + '&correo=' + correo + '&usuario=' + usuario + '&contrasena='+contrasena;
        }
        function Login() {
            var username = document.getElementById('usernameTBLogin').value;
            var password = document.getElementById('passwordTBLogin').value;
            window.location.href = '/Login/Authorize?username=' + username + '&password=' + password;
        }
    </script>




</body>

